body {
    font-family: Arial;
    background: #828186cd;
    margin: 0;
    padding: 20px;
}

.container {
    width: 400px;
    margin: auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.card {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #948f8f;
}

.result-box {
    text-align: center;
}

.leftside{
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 400px;
}

.rightside{
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 400px;
}

.leftside img,
.rightside img{

    width: 100%;
    height: 100%;

    position: absolute;
    animation: slider 9s infinite;

    opacity: 0;
}

.leftside img:nth-child(1),
.rightside img:nth-child(1){

    animation-delay: 0s;
}

.leftside img:nth-child(2),
.rightside img:nth-child(2){

    animation-delay: 3s;
}

.leftside img:nth-child(3),
.rightside img:nth-child(3){

    animation-delay: 6s;
}

@keyframes slider{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

.container{
    width: 50%;
    margin: auto;
}